.body {
  background-color: white;
  font-family: "Open Sans", "Roboto", sans-serif;
}

.main {
}

.section1-h1 {
  position: absolute;
  width: 520px;
  height: 90px;
  left: 380px;
  top: 270px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
}

.section1-h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: black;
  width: 510px;
  height: 66px;
}

.section1-message {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: black;
  width: 285;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
}

.telegram {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.section2-h2 {
  position: absolute;
  width: 670px;
  height: 140px;
  left: 380px;
  top: 985px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: black;
}

.section2-h3 {
  position: absolute;
  width: 455px;
  height: 90px;
  left: 380px;
  top: 1150px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: black;
}

.section3-h2 {
  position: absolute;
  width: 450px;
  height: 45px;
  left: 380px;
  top: 1480px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
}

.section3-h3 {
  position: absolute;
  width: 150px;
  height: 45px;
  left: 380px;
  top: 1740px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.section3-right {
  position: absolute;
  width: 530px;
  height: 130px;
  left: 775px;
  top: 2140px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.section3-bottom-text {
  position: absolute;
  width: 180px;
  height: 20px;
  left: 440px;
  top: 2290px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.section3-bottom {
  position: absolute;
  width: 240px;
  height: 50px;
  left: 410px;
  top: 2275px;
  background: #2196f3;
  border-radius: 60px;
}
