.body {
  background-color: white;
  font-family: "Open Sans", "Roboto", sans-serif;
}

.main {
}

/*page 1*/
.section1-h1 {
  position: absolute;
  width: 520px;
  height: 90px;
  left: 380px;
  top: 270px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
}

.section1-h3 {
  position: absolute;
  width: 507px;
  height: 66px;
  left: 380px;
  top: 386px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: black;
  width: 510px;
  height: 66px;
}

.section1-message {
  position: absolute;
  width: 285px;
  height: 90px;
  left: 715px;
  top: 545px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
}

.section1-buttom {
  position: absolute;
  width: 240px;
  height: 50px;
  left: 715px;
  top: 670px;
  background: #2196f3;
  border-radius: 60px;
}

.telegram {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

/*page2*/
.section2-h2 {
  position: absolute;
  width: 670px;
  height: 140px;
  left: 380px;
  top: 985px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: black;
}

.section2-h3 {
  position: absolute;
  width: 455px;
  height: 90px;
  left: 380px;
  top: 1150px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: black;
}

/*page3*/

.section3-h2 {
  position: absolute;
  width: 450px;
  height: 45px;
  left: 380px;
  top: 1480px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
}

.section3-list1 {
  color: white;
  display: flex;
  justify-content: space-around;
}

.section3-list2 {
  color: white;
  display: flex;
  justify-content: space-around;
}

.section3-item {
}

.section3-h3 {
  position: absolute;
  width: 150px;
  height: 45px;
  left: 380px;
  top: 1740px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.section3-right {
  position: absolute;
  width: 530px;
  height: 130px;
  left: 775px;
  top: 2140px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.section3-bottom-text {
  position: absolute;
  width: 180px;
  height: 20px;
  left: 440px;
  top: 2290px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.section3-bottom {
  position: absolute;
  width: 240px;
  height: 50px;
  left: 410px;
  top: 2275px;
  background: #2196f3;
  border-radius: 60px;
}

/*page4*/
.section4-h2 {
  position: absolute;
  width: 175px;
  height: 45px;
  left: 380px;
  top: 2555px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
}

.section4-message {
  position: absolute;
  width: 285px;
  height: 90px;
  left: 1200px;
  top: 2800px;
  bottom: 45.95%;
  left: 8.7%;
  right: 8.7%;
  top: 14.4%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
}

.section4-bottom-text {
  position: absolute;
  width: 180px;
  height: 20px;
  left: 745px;
  top: 670px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.section4-buttom {
  position: absolute;
  width: 240px;
  height: 50px;
  left: 715px;
  top: 670px;
  background: #2196f3;
  border-radius: 60px;
}

.section4-h4 {
  position: absolute;
  width: 207px;
  height: 33px;
  left: 1168px;
  top: 3034px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.section4-span {
  position: absolute;
  width: 59px;
  height: 22px;
  left: 1168px;
  top: 3099px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.footer-text {
  position: absolute;
  width: 110px;
  height: 15px;
  left: 905px;
  top: 3465px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #5e5e5e;
}

.footer-link {
  color: #2196f3;
}

.footer-lang {
  position: absolute;
  width: 80px;
  height: 20px;
  left: 1460px;
  top: 3465px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
